*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#main{
    height: 100vh;
    width: 100vw;
    background-color: #D2E9E9;
    overflow: hidden;
}

#card{
    width: 90%;
  /*  width: 35vw;*/
    max-width: 470px;
   /* background: linear-gradient(135deg, #00feba, #5b548a);*/
   background-image: radial-gradient( circle farthest-corner at 0.2% 0.5%,  rgba(68,36,164,1) 3.7%, rgba(84,212,228,1) 92.7% );
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
#search{
    width: 100%;
   /* width: 30vw;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
#search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
#details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    width: 100%;
}
.col1{
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 17px;
   /* width: 50%;*/
}
.col1 img{
    width: 36px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 23px;
    margin-right: 10px;
}
.col2{
    display: flex;
    align-items: center;
    text-align: left;
  /*  width: 50%;*/
}
.col2 img{
    width: 36px;
    margin-right: 6px;
}
#weather{
    display: none;
}
#error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/*@media screen and (max-width: 400px) {
     #search{
        width: 50%;
     }
     #search button{
        width: 30px;
        height: 30px;
        border-radius: 10px;
     }
     #search input{
        height: 40px;
     }
     #search button img{
        width: 10px;
     }
  }*/
 
 @media  (max-width: 520px) {
    #card {
    width: 100%;
    margin: 0 ;
    border-radius: 0 ;
    padding:20px 10px;
        
    }
    .weather-icon{
    width: 120px;
   }
    #weather h1{
    font-size: 60px;
    font-weight: 400;
   }
    #weather h2{
    font-size: 30px;
    font-weight: 300;
    }
    .humidity ,.wind{
    font-size: 20px;
    margin-top: 0;
   }
}