*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #191919;
}
#gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
#gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    user-select: none;
    flex: none;
}
#gallery div img{
    width: 100%;
    filter: grayscale(100%);
    border-radius: 10px;
    user-select: none;
    transition: transform 0.5s;
}
#gallery::-webkit-scrollbar{
    display: none;
}
#gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backbtn, #nextbtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
#gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
@media(max-width: 520px){
    #gallery{
      width: 1200px;
  }
    #backbtn, #nextbtn{
      width: 40px;
      margin: 10px;
  }
    #gallery div img{
      border-radius: 2px;
  }
    #gallery div{
      grid-gap: 10px;
      padding: 3px;
  }
    #gallery-wrap{
      height: 100vh;
      width: 100vw;
      margin: 0;
    }
  }